// Variables

// Colors
$type-color: #777; //main type - gray
$primary-color: #58e1c1; //teal
$links-color: #51ddfc; //light blue
$white-color: #fff;
$border-color: #ccc; //gray border color

// Breakpoints
$break-med: 768px;

// Typography
$main-font: 'Lato', sans-serif;