//========================
// Images
//========================

.img-avatar {
    @include image-center
    margin-top: $gutter;
    max-width: $full; 
    max-height: $full;
  }
  
.img-frame {
    @include image-center;
    margin-top: $gutter;
    max-width: $full;
    padding: 13px;
    border: 1px solid $accent-color;
}
  
.img-logo {
    @include image-center;
}