//======================== 
// Variables
//========================

// Colors
$font-color: #777; //dark gray
$primary-color: #58e1c1; //teal
$secondary-color: #51ddfc; //light blue
$white-color: #fff; //white
$accent-color: #ccc; //light gray


// Font Families
$main-font: 'Lato', sans-serif;

// Font Weights
$bolded: 700;
$light: 300;

// Breakpoints
$break-m: 768px;

// Layout
$gutter: 10px;